.light-theme .generator{
  background: #f7f7f7;
  color:#000;
}
.dark-theme .generator{
  background: #333;
  color:#eee;
}

.generator{
  margin:20px;
  border-radius: 2px;

  display:grid;
  grid-template-columns: 100px 100px 1fr;

}
.generator label{
}
.generator select,
.generator input{
  font-size:90%;
  text-align: center;
}
.generator > *{
  padding:20px;
}
.light-theme .generator .description{
  color:#999;
}
.dark-theme .generator .description{
  color:#999;
}
.generator .description{
  font-style: italic;
  font-weight: lighter;
}

.generator .variable{
}
.run-button{
  text-align: center;
  margin:auto;
  margin-top:10px;
  padding:5px;
}
.autorun .run-button{
  display:none;
}
.light-theme .generator a[download]{
  color:#000;
}
.dark-theme .generator a[download]{
  color:#fff;
}
.generator a[download]{
  text-decoration: none;
}
.generator a[download].disabled{
  /*color:#aaa;
  pointer-events: none;*/
  display:none;
}

.dark-theme .generator .variable:nth-child(odd),
.dark-theme .generator .description:nth-child(even),
.dark-theme .generator label:nth-child(even){
  background-color:#444;
}

.light-theme .generator .variable:nth-child(odd),
.light-theme .generator .description:nth-child(even),
.light-theme .generator label:nth-child(even){
  background-color:#e7e7e7;
}

@media (max-width: 700px){
  .generator{
    margin:20px;
    border-radius: 2px;
    display:grid;
    grid-template-columns:100px auto;
  }
  .generator .description{
    grid-column: 1/3;
    padding-bottom:40px;
    padding-top:0px;
    font-size: 95%;
  }
  .generator label{
    grid-column:1;
  }
  .generator .variable{
    grid-column:2;
  }
}
@media (min-width: 1160px){
  .generator{
    margin:20px;
    border-radius: 2px;
    display:grid;
    grid-template-columns:100px 100px 1fr 100px 100px 1fr;
  }

  .dark-theme .generator .variable:nth-child(odd),
  .dark-theme .generator .description:nth-child(even),
  .dark-theme .generator label:nth-child(even){
    background-color:inherit;
  }

  .light-theme .generator .variable:nth-child(odd),
  .light-theme .generator .description:nth-child(even),
  .light-theme .generator label:nth-child(even){
    background-color:inherit;
  }
   .generator label:nth-child(even){
    padding-left:20px;
  }


}
